body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(230, 230, 230);
}

h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 2.5rem;
    padding-left: 40px;
    background-color:#D1A0EA;
}

header{
    background-color:#D1A0EA;
    width: 100%;
    height: 100px;
    color: #531769;
    position: sticky;
    top: 0px;
    display: flex;
    align-content: center;
}

nav {
    background-color: #D1A0EA;
    position: absolute;
    top: 50px;
    right: 4vw;
    font-size: 1.5rem;
    padding: 0px;
}

a {
    padding: 8px;
    font-style: normal;
    text-decoration: none;
    color: #531769;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

#toTop {
    position: fixed;
    font-size: 10rem;
    bottom: 10px;
    right: 80px;
}

#behindArrow {
    fill: #D1A0EA;
    position: fixed;
    font-size: 10rem;
    bottom: -8px;
    right: -128.5px;
}

#me {
    float: right;
    border-radius: 50%;
    width: 20%;
    border: 10px solid #D1A0EA;
    margin: 5%;
    margin-right: 20%;
}

#intro1 em{
    font-family: 'Fugaz One', cursive;
    font-size: 5rem;
    font-style: normal;
    width: 30%;
    
}

#intro1 {
    font-size: 3rem; 
    width: 40%;
    padding: 10% 5% 10% 15%; 
    
}

#about {
    font-size: 1.75rem; 
    margin: 20% 0%;
    background-color: #531769;
    color:  rgb(230, 230, 230);
    padding: 10%;
    display: flex;
    flex-direction: column;
}

#about h2 {
    align-self: center;
    font-size: 2em;
    margin: 4%;
}

#about p,ul {
    margin: 0% 6%;
}

/* #projects {
    display: grid;
    grid-template-areas: "1  2  3";
    padding-bottom: 10%;
    width: 90%;
    justify-content: center;
    padding-left: 4%;
    clear: both;
} */

#h2pro {
    color: #531769;
    text-align: center;
    font-size: 3rem;
    margin: 2%;
}


.pro {
    display: flex;
    background-color: #D1A0EA;
    margin: 10%;
    border: 10px solid #531769;
    height: 45vh;
    
}

.pro img {
    width: 30%;
    border-right: 6px solid #531769;
}

.pro p{
    margin: 20px;
    font-size: 1.5rem;
    color: #531769;
}

.pro ul {
    font-size: 1.5rem;
    color: #531769;
    padding: 0%;
} 

.pro em{
    font-size: 1.75rem;
    margin-right: 2px;
    font-weight: 500;
    
} 

.pro a{
    padding: 2px;
    font-style: italic;
} 

.pro a:hover{
    background-color: rgba(230, 230, 230, 0.7);
}

.projectinfo {
    overflow: scroll;
    padding: 2.5% 5%;
}

.playme{
    padding: 2.5%;
    font-size: 1.75rem;
    text-align: center;
}


footer {
    background-color: #D1A0EA;
    height: 180px;
    color: #531769;
}

#Contactlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact div {
    clear: both;
    align-self: center;
    font-size: 1.2rem;
}

footer a {
    padding: 30px;
}
  

@media screen and (max-width: 1400px){
    #projects{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {

    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #D1A0EA;
        padding-top: 20px;
    }

    h1 {
        margin: 0%;
    }

    nav {
        width: 99.9%;
        display: flex;
        justify-content: space-around;
        margin: 0%;
        background-color: #D1A0EA;
        margin-top: 5%;
        left: .05%;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro1 {
        clear: both;
        text-align: center;
        width: 70%;
        margin-right: 7%;
        margin-top: 0;
    }

    #me{
        float: none;
        width: 30%;
        margin: 5%;
        margin-top: 15%;
        margin-bottom: 2%;
    }

}

@media screen and (max-width: 450px){
	h1 {
	    font-size: 1.75rem;
	    padding-left: 10px;
	}

	#intro1 em{
 	   font-size: 4rem;
	}

	#intro1 {
   	 font-size: 2rem; 
    
	}

	#navTop {
	   font-size: 1rem;
	}
	
	#about {
	   font-size: 1rem;	   
	}
	
	.pro p {
	   font-size: 1rem;	   
	}

	footer {
	   font-size: 1rem;	   
	}
}